<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Страница контроля
body
	button 1
	button 2
	button 3
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
	script(src="/js/controlls.js")
	