<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Страница юзера
body
	div(class="picture" style="width: 100%; height: 100%;")
		<img src='/img/image.jpeg' class="hdimg" style='width: 100%; height: 100%; display: none;'></img>
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
	script(src="/js/client.js")